nav {
  background-color: rgba(75, 207, 141, 0.473);
  color: black;
}
 
ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
 
li {
  padding: 15px;
}
 
a {
  color: black;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}